body {
  font-family: "Times New Roman", Georgia, Serif;
}

h1 {
  font-family: Verdana, sans-serif
}
.search-marker {
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.weather {
	background-color: lightgrey;
  font-family: Verdana, sans-serif;
  display:block;
  margin:0 -15px 0 -15px;
}

.googleMap {
    padding-bottom: 5%;
 }

@media (max-width: 767px){
  .row {
   max-width: 350px;
  }
  .search {
    max-height: 200px;
  }
  .about, .weather,.search-marker{
    width: 350px;
  }
.googleMap {
  height: 200px;
  width: 350px;
}
}

@media (min-width: 768px) and (max-width: 1024px){
  .row {
   max-width: 400px;
  }
  .search {
    max-height: 300px;
  }
  .about, .weather,.search-marker{
    width: 400px;
  }
.googleMap {
  height: 300px;
  width: 400px;
}
}

@media(min-width: 1025px){
  .row {
   max-width: 450px;
  }
  .search {
    max-height: 400px;
  }
  .about, .weather,.search-marker{
    width: 450px;
  }
.googleMap {
  height: 300px;
  width: 450px;
}
}

.row {
  margin-right: auto;
  margin-left: auto;
}
.search {
   margin-right: auto;
   margin-left: auto;
   display: none;
   overflow: auto;
}

.search-item {
 list-style:none;
 margin-left: -37px;
 height: 40px;
 font-size: 22px;
}


.about {
    border: 2px solid lightgrey;
}