body {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Times New Roman", Georgia, Serif;
}

h1 {
  font-family: Verdana, sans-serif
}
.weather {
	background-color: lightgrey;
  font-family: Verdana, sans-serif;
  padding-left: 20px;
}

.search {
   display: none;
   height: 200px;
   width: 300px;
   overflow: auto;
}

.search-item {
 list-style:none;
 margin-left: -37px;
 height: 40px;
 font-size: 22px;
}

.googleMap {
  height: 300px;
}

.about {
    border: 2px solid lightgrey;
}