.weather {
	background-color: lightgrey;
}


body {
  margin-left: 25px;
}
.search {
   display:none;
   border: 1px solid lightgrey;
   overflow: auto;
}

.search-item {
 list-style:none;
}

.googleMap {
   width:500px;
   height:380px;
}

.about {
    border: 2px solid lightgrey;
}